.footer {
  background-color: $black;
  color: white;

  .copyright {
    min-height: 2.87rem;
    padding-top: 0.7rem;
    border-top: 1px solid $border-color;

    @media only screen and (max-width: 469px) {
      min-height: 5.5rem;
      padding-top: 1rem;
    }

    .copyright__left {
      float: left;
      display: block;
      //text
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: left;

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }
    }

    .copyright__right {
      float: right;
      position: relative;
      top: 1px;
      display: flex;

      @media only screen and (max-width: 469px) {
        text-align: center;
        width: 100%;
      }

      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.82;
      letter-spacing: 0.55px;
      text-align: left;

      a {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.82;
        letter-spacing: 0.55px;
        text-align: left;
        color: white;
        margin-left: 5px;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }

      div {
        display: inline-block;
      }

      .heart {
        display: inline-block;
        position: relative;
        margin: 0 .7rem;
        animation: beat 1.5s infinite;
        height: 20px;
        width: 20px;
        overflow: hidden;

        svg {
          fill: $main-color;
          @include height(17px);
          @include align-center(both);
        }
      }

      @keyframes beat {
        50% {
          transform: scale(1.1);
        }
      }
    }
  }
}